.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 100px;
}

.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #454545;
  font-family: "ApparelBlack";
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #fff;
  height: 250px;
}

.phoneContainer {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-top: 40px;
}

.projectTitle {
  font-size: 24px;
  font-family: "ApparelBlack";
  color: white;
  margin: 0;
}

.projectDescription {
  font-size: 16px;
  font-family: "ApparelBold";
  color: white;
}
